# Comine Queries
---
- Append
    - rows merging
- Merge
    - joins

## Append
- **Scenario:** Append emp10,emp20 and emp30 tables as **emp102030**

### Sql Query

select * from emp10 # 3 rosws
union
select * from emp20 # 5 rosws
union
select * from emp30 # 6 rosws

### Develop Report using Append homogenious Sources

1. Open **Power BI** > Click on **Get Data** > Select **Databases**> Select **MySql** > Click on **Connect** > Provide **Servername** as **localhost** and **Database Name** as **rritec** > Click on **ok**
1. In **Navigator** window Select tables **emp10**,**emp20** and **emp30** > Click on **Transform Data**
1. Click on **Append Queries** > **Append Queries as New** > Select radio button **Three or More Tables** > Select required tables and push to right side then click on **ok**

### Develop Report using Append Hetrogenious Sources

1. In above report import emp30 data from excel **LabData/Lab1/emp30_data_from_excel.XLSX**
1. Combine This Excel emp 30 with MySql emp10 and emp20 data

## Merge
1. Inner Join
1. Left outer Join
1. Right Outer Join
1. Full Outer Join
1. Right Anti Join
1. Left Anti Join
1. Non Equi Join
1. Cross Join

### Inner Join

#### Learn Sql Query

Select dname,ename,job,sal 
from emp,dept
where emp.deptno=dept.deptno

#### Develop PBI Report using inner Join

1. In above Report import **emp** and **dept**
1. Click on **Merge Queries** > **Merge Queries as New** > Select Join Columns as shown below >Select Type of Join as **Inner Join** > click on **ok**

    ![](https://github.com/rritec/powerbi/blob/master/images/PBI_0033.png?raw=true)
1. In **Query Settings** rename **merge1** as **01_Inner_join**
1. Expand Dept Table in the **work Area** and **Select all columns** > Click on **ok** > Understand Result of SQL Query in database and powerI result, Both Must be same

    ![](https://github.com/rritec/powerbi/blob/master/images/PBI_0034.png?raw=true)

### Left Outer Join

#### Learn Sql Query

Select emp.deptno,dname,ename,job,sal \
from emp left outer join dept \
on emp.deptno=dept.deptno

#### Develop PBI Report using Left Outer Join

1. In above report, In Queries Pane ,select **01_Inner_join** > Right Click and click on **Duplicate**
1. In Query Settings rename as **02_Left_outer_Join**
1. Click on  **Source** Settings and change inner join as Left

### Right Outer Join

#### Learn Sql Query

select ename,sal,grade 
from emp,salgrade 
where sal between losal and hisal

#### Develop PBI Report using Right Outer Join

### Full Outer Join

#### Learn Sql Query

select ename,sal,grade 
from emp,salgrade 
where sal between losal and hisal

#### Develop PBI Report using Full Outer Join

### Left Anti Join

#### Learn Sql Query

select ename,sal,grade 
from emp,salgrade 
where sal between losal and hisal

#### Develop PBI Report using Left Anti Join

### Right Anti Join

#### Learn Sql Query

select ename,sal,grade 
from emp,salgrade 
where sal between losal and hisal

#### Develop PBI Report using Right Anti Join

### Non Equi Join

#### Learn Sql Query

select ename,sal,grade 
from emp,salgrade 
where sal between losal and hisal

#### Develop PBI Report using Non Equi Join

### Cross Join

#### Learn Sql Query

select ename,sal,grade 
from emp,salgrade 
where sal between losal and hisal

#### Develop PBI Report using Cross Join

![](https://github.com/rritec/powerbi/blob/master/images/PBI_0022.png?raw=true)